#square {
    width: 200px;
    height: 200px;    
    margin:auto;
    margin-top: 250px;
    background: red;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  #square:hover{
    animation: anime 1.8s infinite;
  }

  @keyframes anime{
      from{
          background: #d1c519;
          transform: rotate(-45deg) scale(1.2) translateY(-50%) translateX(50%);
        
        }
        20%{
            background: #000000;
            transform: rotate(45deg) scale(-1.2) translateY(20%) translateX(-20%);
        }
        60%{
            background: #09457e;
          transform: rotate(-45deg) scale(1.2) translateY(30%) translateX(-30%);
        }
        to{
            background: #93149e;
          transform: rotate(90deg);
        }




  }

  
